/**
 * 4. Site Header
 * ----------------------------------------------------------------------------
 */
.site-header {
    text-align: center;
}

.site-branding {
    padding: 3em 0 1.5em;
}

.custom-logo {
    margin-bottom: 0;

    a {
        border: 0;
    }
}

.custom-logo img {
    max-height: 100px;
    padding-bottom: 20px;
}

.custom-logo svg {
    max-height: 100px;
    padding-bottom: 20px;
}

@function random_element($elements...) {
  @return nth($elements, random(length($elements)))
}

#circlelogosvg {
    fill: random_element('#4D2A22', '#5E372E', '#714137', '#B26634', '#A15C33', '#6E381F', '#002868', '$color-accent');
}

#texanlogot,
#texanlogoe,
#texanlogox,
#texanlogoa,
#texanlogon {
    fill: $texan-logo-color;
}

.site-title {
    font-size: 24px;
    font-weight: bold;
    font-family: $font-logo;
    letter-spacing: 0.05em;
    line-height: 1;
    margin: 0 8px 0 0;
    position: relative;
    text-transform: uppercase;
    z-index: 1;

    a {
        border: 2px solid $gray-dark;
        color: $black;
        display: inline-block;
        padding: 18px 30px 10px 38px;
        position: relative;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;

        &:before {
            background-color: $color-accent;
            border-bottom: 2px solid $color-accent;
            border-right: 2px solid $color-accent;
            content: "";
            height: 100%;
            left: 8px;
            position: absolute;
            top: 8px;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            transition: .3s;
            width: 100%;
            z-index: -1;
        }

        &:hover {
            padding: 14px 34px;
        }
    }
}

.site-title a:hover:before {
    left: 0;
    top: 0;
}

.site-description {
    color: $gray;
    font: 12px / 1.5 $font-secondary;
    margin-bottom: 0;
    margin-top: 20px;
}

.toggle-sidebar,
.toggle-search {
    font-size: 14px;
    height: 40px;
    padding: 0;
    width: 40px;
}

ul.menu-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $gray-dark;
    text-decoration: none;
    border-radius: 5px;
}

ul.menu-bar li {
    float: left;
    text-decoration: none;
}

ul.menu-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    border-bottom: none;
}

ul.menu-bar li a:hover:not(.active) {
    background-color: $color-accent;
    color: $black;
    text-decoration: none;
    border: 3px $black;
}

ul.menu-bar li a.active {
    background-color: $color-accent;
    text-decoration: none;
    border-bottom: none;
}

ul.menu-bar li.right {
    float: right;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
  ul.menu-bar li.right, 
  ul.menu-bar li {float: none; max-width: 100%;}
    ul.menu-bar li.hide-bar {display: none; visibility: hidden}
}


#show-sidebar,
#show-search {
    background-color: #fff;
    color: $black;
    position: fixed;
    right: 0;
    z-index: 997;
}

#show-sidebar {
    top: 0;
}

#show-search {
    top: 41px;
}
