// Fonts
$font-primary: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
$font-secondary: "Cousine", "Courier New", Courier, monospace;
$font-logo: 'Manrope', sans-serif;

// Colors
$color-accent: #966b60;
$black: #111;
$gray-dark: #333;
$gray: #999;
$gray-light: #f1f1f1;
$yellow: #ffff00;
$bey-yellow: #fff44f;
$logocirclesvg: "#966b60";
