// Fonts
$font-primary: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
$font-secondary: "Cousine", "Courier New", Courier, monospace;
$font-logo: 'Manrope', sans-serif;

// Colors
$color-accent: #966b60;
$black: #111;
$gray-dark: #333;
$gray: #999;
$gray-light: #f1f1f1;
$yellow: #966b60;
$bey-yellow: #fff44f;
$logocirclesvg: "#966b60";
$texan-logo-color: #000000;
$texan-logo-color-red: #BF0A30;
$skin-tone-1: #4D2A22;
$skin-tone-2: #5E372E;
$skin-tone-3: #714137;
$skin-tone-4: #B26634;
$skin-tone-5: #A15C33;
$skin-tone-6: #6E381F;
$flag-tone-blue: #002868;
$profile-back: #f3efee;
